Problem-1
Write a small program to check a number is divisible by 7 or not

In [1]:
n=int(input('Enter n:'))

if(n%7==0):
  print(n,'is divisible by 7')
else:
  print(n,'is not divisible by 7')

Enter n:2
2 is not divisible by 7

Problem-2
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.
Write down a program to check if a number is 'five-or-seven' number or not.

In [2]:
n=int(input('Enter n:'))

if(n%7==0) or (n%5==0):
  print(n,'is five-or-seven number')
else:
  print(n,'is not five-or-seven number')

Enter n:102
102 is not five-or-seven number

Problem-3
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:

Upto first 100 units Rs. 3 per unit.
Next 100 units Rs. 5 per unit.
Next 300 units Rs. 7 per unit.
Above that, for each unit exceeding 500, Rs. 10 per unit flat.

In [3]:
prev=float(input('Enter Previous reading: '))
pread=float(input('Enter Present reading: '))
units=pread-prev
print('Number of Units=',units)
if (units<=100):
      p1= units*3
      print(p1)
elif (units>100 and units<=200):
      p2=((100*3)+(units-100)*5)
      print(p2)
elif (units>200 and units<=500):
      p3=((100*3)+(100*5)+(units-200)*7)
      print(p3)
elif (units>500):
      p4=((100*3)+(100*5)+(300*7)+(units-500)*10);
      print(p4)

Enter Previous reading: 1850
Enter Present reading: 2014
Number of Units= 164.0
620.0

Problem-4
Find out sum of square of all the numbers upto 10, starting from 1

In [4]:
n=10
s=0
for i in range (1,n+1):
    s=s+(i**2)
print(s)

385

Problem-5
Find out sum of square of all the even numbers upto 10, starting from 1

In [5]:
s=0
for i in range (1,5):
    s=s+((2*i)*(2*i))
print(s)

120

Problem-6
Check a number is prime or not

In [6]:
n=int(input('Enter a number:'))
f=0
for i in range(2,n):
    if(n%i==0):
          f=1
if (f==0):
    print(n,'is a Prime Number')
else:
    print(n,'is not a Prime Number')

Enter a number:12
12 is not a Prime Number

Problem-7
Print multiplication table upto 10 starting from 1

In [7]:
n=int(input('Enter a number:'))
for i in range(1,11):
    r=n*i
    print(n,'*',i,'=',r)

Enter a number:15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

Problem-8
Print the series of first n fibonacci numbers

In [8]:
n=int(input('Enter a number'))
f1=0
f2=1
print(f1)
print(f2)
for i in range(3,n+1):
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3

Enter a number2
0
1